torch==2.2.0
torchvision==0.17.0
torchmetrics
torchaudio==2.2.0
torch_audiomentations
numpy==1.26.4
tqdm
matplotlib
pandas
wandb
comet_ml
hydra-core
pesq==0.0.4
pystoi==0.4.1
soundfile==0.12.1

black
isort
pre-commit
opencv-python